*************************************
*                                   *
* DRILL TAPE SUMMARY REPORT         *
*                                   *
* C:\CAINPCB\SAKC_V3\SIE_V3MAX.MAX  *
* Mon Jan 31 06:06:47 2011          *
*                                   *
*************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       118      301      200      100                                                                                 
T2       340      8        200      100                                                                                 
T3       370      70       200      100                                                                                 
T4       394      2        200      100                                                                                 
T5       417      6        200      100                                                                                 
T6       420      4        200      100                                                                                 
T7       433      2        200      100                                                                                 
T8       531      6        200      100                                                                                 
T9       1181     7        200      100                                                                                 
