*******************************
*                             *
* DRILL TAPE SUMMARY REPORT   *
*                             *
* C:\CAINPCB\SAKCV2\SAKC.MAX  *
* Tue Aug 10 07:46:41 2010    *
*                             *
*******************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       118      382      200      100                                                                                 
T2       315      8        200      100                                                                                 
T3       340      48       200      100                                                                                 
T4       394      2        200      100                                                                                 
T5       417      6        200      100                                                                                 
T6       420      4        200      100                                                                                 
T7       433      2        200      100                                                                                 
T8       531      6        200      100                                                                                 
T9       1181     7        200      100                                                                                 
