*************************************************************************************************
*                                                                                               *
* DRILL TAPE SUMMARY REPORT                                                                     *
*                                                                                               *
* C:\DOCUMENTS AND SETTINGS\BLUEDEEP\MIS DOCUMENTOS\ORCAD\CONECTOR_PS2\NUEVA CARPETA\PS2-6.MAX  *
* Fri Sep 17 14:14:50 2010                                                                      *
*                                                                                               *
*************************************************************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       340      60       200      100                                                                                 
T2       420      2        200      100                                                                                 
T3       910      6        200      100                                                                                 
T4       1181     4        200      100                                                                                 
